<h1>High Scores</h1>
<div id="highScoreScreen">
  <table id="highScores">
  <%= render partial: "player", collection: @players  %>
  </table>
  <%= link_to "Restart game", root_path, class: "restart" %>
</div>
