#chooseScreen {
  width: 400px;
  margin: auto;
}

.picWaldoSmall {
  width: 300px;
  height: 169px;
}

.radio {
  position: relative;
  bottom: 85px;
  display: inline-block;
}

#submitButton {
  position: relative;
  font-size: 30px;
  top: 10px;
}
